<!--Index Page-->         
<div class="row"> 
 
  <!-- Blog Post Content Column -->     
  <div class="col-lg-8"> 
 
    <div class="jumbotron">
      <h1>Welcome to Kimmo's Articles</h1>
      <p>This is just a Ruby on Rails exercise, but it is fully functional, so you can post something if you like!</p>
    </div>
 

   </div>

 



   
  <!-- Blog Sidebar Widgets Column -->     
  <div class="col-md-4"> 
   
   
    <!-- Side Widget Well --> 
    <div class="well">             
      <h4>Recent Posts</h4>
      <% @articles.each do |article| %>
      Created by: <%= article.user.username %> <br/>
      <strong><%= link_to article.title, article %> </strong>
      <p><%= truncate(article.body) %></p>
      <% end %>
        
    </div> 
  </div> 
 
</div> <!-- /.row --> 
 
<hr> 
